---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import DiscoverImage from './photo-1519389950473-47ba0277781c.png';

const metadata = {
  title: 'AskInternally — Experience our AI-powered platform: interact with your AI assistant, run models offline, and chat using your data — all locally and privately.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <div className="ellipseDiv"></div>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get Started',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:click',
      },
      { text: 'Sign in with Google', 
        href: '#features', 
        icon: 'tabler:brand-google',
        },
    ]}
    
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> AskInternally, </span> Your Offline AI
        Knowledge Assistant
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Experience our AI-powered platform: interact with your AI assistant, run models offline, and chat using your data — all locally and privately.
      </span>
      
    </Fragment>
  </Hero>

  
  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with AskInternally"
    subtitle="A range of features to simplify interaction with your AI assistant. Discover what you can do."
    items={[
      {
        title: 'Offline AI Models',
        description:
          'Users can download and run AI models on their local machines, ensuring data privacy and security.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Model-agnostic',
        description:
          'Our platform will support various AI Models, allowing users to choose the best model for their needs...',
        icon: 'tabler:components',
      },
      {
        title: 'Fine-tuning & Model Marketplace',
        description:
          'Users and developers can fine-tune models and sell them on our platform, creating a thriving ecosystem of AII models.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Efficient Data Storage ',
        description:
          'We will develop competitive solutions to store and retrieve data for RAG applications, ensuring optimal performance. ',
        icon: 'tabler:rocket',
      },
      
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Discover"
    title="AskInternally’s Landscape & Positioning "
    items={[
      {
        title: 'Explosive Growth Projection',
        description:
          'The global marketplace is expected to reach %1.6 trillion by 2030',
      },
      {
        title: 'Rising Demand for Privacy',
        description:
          'Increasing concerns about data privacy and security drive market trends.',
      },
      {
        title: 'Strategic Market Positioning',
        description:
          'Our offline AI platform poised to dominate a significant market share.',
      },
    ]}
    
    image={{
      src: 'https://s3-alpha-sig.figma.com/img/c44f/e839/c62786f4484aa6858f17b7f42942d696?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=QiX75IzVV-8i5qRa5F9-DtPhDW7hJMXDXFDHpPO-AqLYEGMS4tLkxAtptGdyTDLDB~3280uQthcLeh8WfglEVB28iprQnOq-Bxp-kBTAIhtDiMwL3g8jhrTRW0f-PGM6YoCbaxDEiCW~fo0RinXmjFSbRXCooyc43L4vVDZNvhuAdFTHshvrKkik2J2fRUAp~8Azxs0m5L0mUF9CZwZ55xKl12YWzHA9VaT33z7C3tFAFgqepssdbTdzfzw3~yCU9w4KmLjmJUslX6aNKCi1B9jA8JioVu1Cxa~yDeRLP-~4Bs6MmrOOL0vVsQC4jY2JAxgQ4sT~D8GHX1Vq-gaz4Q__',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Market Opportunity</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  
  <Content
    isAfterContent
    items={[
      {
        title: 'Pioneering Offline AI Experience',
        description: `Our platform will be the first to deliver a comprehensive offline AI assistant experience, emphasizing data privacy and model agnosticism.`,
      },
      {
        title: 'Leveraging Local AI Expertise',
        description:
          'By tapping into the rich AI talent pool in Canada, especially in Toronto and Montreal, we aim to develop cutting-edge solutions.',
      },
      {
        title: 'Competitive Edge',
        description:
          "Our advanced approach positions us to compete effectively with industry leaders such as Cognition Labs.",
      },
    ]}
    image={{
      src: 'https://s3-alpha-sig.figma.com/img/6101/61b6/2a12c26e41e784706eebc097db53bab9?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=m04QYuk5QUiTJWs6DrKgfm7ftcB419lmFxmflLfboj9LQNisNAhQZJoObilw0XzcGCX9SmW68VjeVGPcBWdF89Nbqbz0qlQvZt5v~sQz2-ZNLHdxF9G8tpNqkPfQbhvmrjsPXspr0xKFTAcEyKRR8m8nclZo9Rhf42m-m-V2vx~4N3cQrwAGHQhEpSv5X9IbQekuhmPrFYIuTgWQiQR0TWKR9-d9vGVVx5-THClQNEFIUdSAa~eFAcl~2Dotsql0btsOFJ4NNNnPnkeymSS5jw57UFIjs3kRzyVaDxnTdDzXhFovqxsYYTwoBfkclj~uYHLHvPD7UuvWLCSITkujlQ__',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Competitive Advantage</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Series A Funding Goals',
        description:
          'Seeking $25 million in Series A funding to fuel platform development, team expansion, and growth acceleration.',
      },
      {
        title: 'Industry Growth Trajectory',
        description:
          "Rapid industry expansion and high valuations, exemplified by Cognition Labs' $2 billion valuation in just six months, indicate significant market potential.",
      },
      {
        title: 'Future Valuation Potential',
        description:
          "Confident in our platform's potential, we aim to achieve a similar or higher valuation within the next 12-18 months.",
      },
    ]}
    image={{
      src: 'https://s3-alpha-sig.figma.com/img/075b/3461/10f664a176f07d4a2601d540781321ba?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=S-2IlVoUICKnHQdO~1w2nMUMGvvVSzE4wR7OeJp1StKSCyaaZ8iT9gRMYXxLLlX6gfrRnCEqL7jpRyJnXf4gmQ4Q2dXq9oyCyouxEDwvKdh4Xz4vT6nwUANkrztH-~YAbRSz~A5D9AbXUgZ1D8QNVw9AZzwB5qPEvaH-sMawgfy6xFb-IxaI0z3efYVSF4lC5SK1jFV05nJ2qDx41JHmJFvbjLLxUd7FNwjldgQ-XiDvYOZ5Kq6o131drNDAu29Clog2Ghsb5rzOgbNov~8g1BmwyjuBLYILmokW0sxon1bPcX80CFz5-fQxNJUXVyYyzYzceS1XokY88nyLjyEFjg__',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Funding and Valuation</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Askremotely?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'Do you provide ongoing support?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
      {
        title: 'How do you manage Data Privacy?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What is something that you would like to try again?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
    ]}
  />

</Layout>
