---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { Image } from 'astro:assets';

const metadata = {
  title: 'AskInternally — Experience our AI-powered platform: interact with your AI assistant, run models offline, and chat using your data — all locally and privately.',
  ignoreTitleTemplate: true,
};
---


<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  
    <div class="absolute left-0 top-1/2 -mt-40 ml-[-50px] w-80 h-80 bg-blue-400 bg-opacity-40 blur-3xl rounded-full"></div>
    <div class="absolute right-0 top-1/2 -mt-40 mr-[-50px] w-80 h-80 bg-purple-600 bg-opacity-30 blur-3xl rounded-full"></div>
    <div class="absolute left-1/2 transform -translate-x-1/2 top-1/2 -mt-32 -ml-24 w-3/5 h-64 bg-blue-600 bg-opacity-30 blur-3xl rounded-full"></div>
    <div class="absolute right-1/4 transform translate-x-1/3 top-1/2 -mt-32 mr-24 w-3/5 h-64 bg-blue-500 bg-opacity-30 blur-3xl rounded-full"></div>
    <div class="h-screen flex flex-col justify-center items-center">
    <Hero
      actions={[
        {
          variant: 'primary',
          text: 'Get Started',
          href: '',
          target: '_blank',
          icon: 'tabler:click',
        },
        { text: 'Sign in with Google', 
          href: '', 
          icon: 'tabler:brand-google',
          },
      ]}>
    
    
    <Fragment slot="title"
      <span class="text-accent dark:text-white highlight"> AskInternally, </span> Your Offline AI
        Knowledge Assistant
    </Fragment>
    
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Experience our AI-powered platform: interact with your AI assistant, run models offline, and chat using your data — all locally and privately.
      </span>
    
    </Fragment>
    
  </Hero>
  </div>

  
  <!-- Features Widget *************** -->
  <div class="h-screen flex flex-col justify-center items-center">
  <Features
    id="features"
    tagline="Features"
    title="What you get with AskInternally"
    subtitle="A range of features to simplify interaction with your AI assistant. Discover what you can do."
    items={[
      {
        title: 'Offline AI Models',
        description:
          'Users can download and run AI models on their local machines, ensuring data privacy and security.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Model-agnostic',
        description:
          'Our platform will support various AI Models, allowing users to choose the best model for their needs...',
        icon: 'tabler:components',
      },
      {
        title: 'Fine-tuning & Model Marketplace',
        description:
          'Users and developers can fine-tune models and sell them on our platform, creating a thriving ecosystem of AII models.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Efficient Data Storage ',
        description:
          'We will develop competitive solutions to store and retrieve data for RAG applications, ensuring optimal performance. ',
        icon: 'tabler:rocket',
      },
      
    ]}
  />
  </div>
  <!-- Content Widget **************** -->
  
  <Content
    isReversed
    tagline="Discover"
    title="AskInternally’s Landscape & Positioning "
    items={[
      {
        title: 'Explosive Growth Projection',
        description:
          'The global marketplace is expected to reach %1.6 trillion by 2030',
      },
      {
        title: 'Rising Demand for Privacy',
        description:
          'Increasing concerns about data privacy and security drive market trends.',
      },
      {
        title: 'Strategic Market Positioning',
        description:
          'Our offline AI platform poised to dominate a significant market share.',
      },
    ]}
    
    >

     image={{
      src: '',
      alt: 'placeholder',
    }}

    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Market Opportunity</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <!-- Content Widget **************** -->
  
  <Content
    isAfterContent
    items={[
      {
        title: 'Pioneering Offline AI Experience',
        description: `Our platform will be the first to deliver a comprehensive offline AI assistant experience, emphasizing data privacy and model agnosticism.`,
      },
      {
        title: 'Leveraging Local AI Expertise',
        description:
          'By tapping into the rich AI talent pool in Canada, especially in Toronto, Montreal, and Waterloo, we aim to develop cutting-edge solutions.',
      },
      {
        title: 'Competitive Edge',
        description:
          "Our advanced approach positions us to compete effectively with industry leaders such as Cognition Labs.",
      },
    ]}
    image={{
      src: '',
      alt: 'placeholder',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Competitive Advantage</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Series A Funding Goals',
        description:
          'Seeking $25 million in Series A funding to fuel platform development, team expansion, and growth acceleration.',
      },
      {
        title: 'Industry Growth Trajectory',
        description:
          "Rapid industry expansion and high valuations, exemplified by Cognition Labs' $2 billion valuation in just six months, indicate significant market potential.",
      },
      {
        title: 'Future Valuation Potential',
        description:
          "Confident in our platform's potential, we aim to achieve a similar or higher valuation within the next 12-18 months.",
      },
    ]}
    image={{
      src: '',
      alt: 'placeholder',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Funding and Valuation</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  
  

  <!-- FAQs Widget ******************* -->
  <div class="h-screen flex flex-col justify-center items-center">
  <FAQs id="faq"
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'What is our motivation?',
        description:
          'With the rise of AI and LLMs, there exists a growing concern about using LLMs with private and confidential data. This gives rise to the need for offline AI solutions.',
      },
      {
        title: 'Why AskInternally?',
        description:
          "AskInternally places a heavy emphasis on data privacy and security that is achieved through AI models that run completely on local machines. Moreover, it supports effecient data storage through RAG. In collaboration with the University of Waterloo, work is being done to develop multimodal knowledge graphs.",
      },
      {
        title: 'Do you provide ongoing support?',
        description:
          "Yes, we will provide consulting services and model fine-tuning. Moreover, we will help set up models of your choice including, but not limited to GPT-4, Gemini, Llama 3, and Claude.",
      },
      {
        title: 'How do you manage Data Privacy?',
        description:
          "Data privacy is achieved through your organization's information being strictly limited to local machines. Confidential data will not be stored online.",
      },
    ]}
  />
  </div>
</Layout>
