---
import { SITE } from 'astrowind:config';
import LogoImage from './Icon.png';
---

<span class="flex items-center">
  <img src={LogoImage.src} alt="Logo" class="h-8 mr-2 md:h-auto md:mr-4" />
  <span class="text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
    {SITE?.name}
  </span>
</span>
